{% extends "admin/layout/layout.html" %}
{% block content %}
<!-- Page wrapper  -->

<div class="row">
    <div class="col-lg-12" >
        <div class="card" id="form_ambil_data">
            <div class="card-title">
                <h4>Edit Tuyul</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group" id="input-username">
                            <input type="text" value="{{ tuyul[0]['id'] }}" id="frm-id" hidden>
                            <input type="text" class="form-control input-rounded" name="username" value="{{ tuyul[0]['username'] }}" id="frm-username">
                            <label class="control-label" style="display: none;" id="label-username"></label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group" id="input-nickname">
                            <input type="text" class="form-control input-rounded" name="password" value="{{ tuyul[0]['nickname'] }}" id="frm-nickname">
                            <label class="control-label" style="display: none;" id="label-nickname"></label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group" id="input-password">
                            <input type="text" class="form-control input-rounded" name="password" value="{{ tuyul[0]['password'] }}" id="frm-password">
                            <label class="control-label" style="display: none;" id="label-password"></label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group" id="input-title">
                            <select class="form-control input-rounded" name="tahun_awal" id="frm-title">                                
                                {% for x in title %}
                                    {% if x['nama_title'] == tuyul[0]['title']  %}
                                        <option value="{{x['id']}}" selected>{{x['nama_title']}}</option>
                                    {% else %}
                                        <option value="{{x['id']}}">{{x['nama_title']}}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                            <label class="control-label" style="display: none;" id="label-title"></label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group" id="input-ruby" >
                            <input type="text" class="form-control input-rounded" name="ruby" value="{{ tuyul[0]['ruby'] }}" id="frm-ruby">
                            <label class="control-label" style="display: none;" id="label-ruby"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button id="submit-form" class="btn btn-default">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page wrapper  -->
{% endblock %}
{% block js %}
    {% include "admin/layout/js.html" %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#submit-form").click(function(){
                $('#input-username').removeClass("has-error");
                $('#input-title').removeClass("has-error");
                $('#input-password').removeClass("has-error");
                $('#input-ruby').removeClass("has-error");
                $('#input-nickname').removeClass("has-error");
                $('#label-username').hide();
                $('#label-title').hide();
                $('#label-password').hide();
                $('#label-ruby').hide();
                $('#label-nickname').hide();

                var username = $('#frm-username').val();
                var password = $('#frm-password').val();
                var nickname = $('#frm-nickname').val();
                var title = $('#frm-title').val();
                var ruby = $('#frm-ruby').val();
                var id = $('#frm-id').val();
                var valid = true;

                if(!username){
                    $('#input-username').addClass("has-error");
                    $('#label-username').html("Masukkan username");
                    $('#label-username').show();
                    valid = false
                }       

                if(!nickname){
                    $('#input-nickname').addClass("has-error");
                    $('#label-nickname').html("Masukkan nickname");
                    $('#label-nickname').show();
                    valid = false
                }

                if(!password){
                    $('#input-password').addClass("has-error");
                    $('#label-password').html("Masukkan Password");
                    $('#label-password').show();
                    valid = false
                }

                if(!title){
                    $('#input-title').addClass("has-error");
                    $('#label-title').html("Masukkan Title");
                    $('#label-title').show();
                    valid = false
                }
                
                if(!ruby){
                    $('#input-ruby').addClass("has-error");
                    $('#label-ruby').html("Masukkan Ruby");
                    $('#label-ruby').show();
                    valid = false
                }

                $("#frm-ruby").on('change keydown paste input', function(){
                    $('#input-ruby').removeClass("has-error");
                    $('#label-ruby').hide();
                    let ruby = $("#frm-ruby").val();
                    console.log(ruby)
                    if(isNaN(ruby) || ruby == ""){
                        $('#input-ruby').addClass("has-error");
                        $('#label-ruby').html("Ruby tidak valid");
                        $('#label-ruby').show();
                        valid = false;
                    }else{
                        valid = true;
                    }
                });

                var data = {}
                data['username'] = username
                data['password'] = password
                data['title'] = title
                data['ruby'] = ruby
                data['id'] = id
                data['nickname'] = nickname

                if(valid){
                    $.ajax({
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        success: function(data){
                            console.log(data);
                            if(data['status']){
                                window.location = "http://localhost:8099/admin/tuyul-list-tuyul";
                            }else{
                                swal("Error", data['message'], "warning");
                            }

                        },
                        error: function(){
                            console.log("Device control failed");
                        },
                        type: 'POST',
                        url: 'http://localhost:8099/api/tuyul/edit'
                    });
                }

            });
        });
    </script>
{% endblock %}