{% extends "admin/layout/layout.html" %}
{% block header %}
    {% include "admin/layout/sidebar.html" %}
{% endblock %}
{% block sidebar %}
    {% include "admin/layout/header.html" %}
{% endblock %}
{% block content %}
<!-- Page wrapper  -->
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Dashboard</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-4">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2 class="span-total-tuyul"></h2>
                            <p class="m-b-0">Total Tuyul di Push</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-usd f-s-40 color-primary"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2 class="span-total-ruby"></h2>
                            <p class="m-b-0">Total Ruby di Push</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-star f-s-40 color-warning"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2 class="span-total-campscore"></h2>
                            <p class="m-b-0">Total Camp Score di Push</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- card list pusher -->
        <div class="row bg-white m-l-0 m-r-0 box-shadow ">
            <!-- Tabel Hasil Panen -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">List Pusher</h4>
                        <div class="table-responsive m-t-40">
                            <table id="tabel-tuyul" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <tr>
                                            <th class="w-12">Nick Pusher</th>
                                            <th class="w-12">username</th>
                                            <th class="w-12">nickname</th>
                                            <th class="w-12">password</th>
                                            <th class="w-12">title</th>
                                            <th class="w-12">ruby</th>
                                            <th class="w-28"></th>
                                        </tr>
                                    </tr>
                                </thead>
                                <tbody id="bodyTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>  
        <!-- end card list pusher -->
        <br/>
        <!-- card list tuyul tersedia -->
        <div class="row bg-white m-l-0 m-r-0 box-shadow ">
            <!-- Tabel Hasil Panen -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">List Tuyul Tersedia</h4>
                        <div class="table-responsive m-t-40">
                            <table id="tabel-pusher" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="w-15">username</th>
                                        <th class="w-15">nickname</th>
                                        <th class="w-15">password</th>
                                        <th class="w-15">title</th>
                                        <th class="w-15">ruby</th>
                                        <th class="w-25"></th>
                                    </tr>
                                </thead>
                                <tbody id="body-tabel-tuyultersedia">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>  
        <!-- endcard tuyul tersedia -->

        <!-- form add tuyul -->
        <div class="row">
            <div class="col-lg-12" >
                <div class="card" id="card_add_pusher">
                    <div class="card-title">
                        <h4>Tambah Pusher</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" id="input-username">
                                    <input type="text" class="form-control input-rounded" name="username" placeholder="Username" id="frm-username">
                                    <label class="control-label" style="display: none;" id="label-username"></label>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" id="input-pushername">
                                    <input type="text" class="form-control input-rounded" name="pushername" placeholder="Pusher Nick" id="frm-pushername">
                                    <label class="control-label" style="display: none;" id="label-pushername"></label>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-12">
                                <button id="submit-form" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end form add tuyul -->

        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
</div>
<!-- End Page wrapper  -->
{% endblock %}
{% block footer %}
    {% include "admin/layout/footer.html" %}
{% endblock %}
{% block js %}
    {% include "admin/layout/js.html" %}
    <script src="/js/lib/datatables/datatables.min.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="/js/lib/datatables/datatables-init.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#menuDataMining").addClass("active");
            $("#menuDataMining").children().attr("aria-expanded","true");
            $("#menuDataMining > ul").addClass("in");

            for(x = 0; x < $("#menuDataMining > ul > li").length; x++){
                if($("#menuDataMining > ul > li")[x].innerText == "List Tuyul"){
                    $("a",$("#menuDataMining > ul > li")[x]).addClass("active");
                }
            }

            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('idtuyul') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('New message to ' + recipient)
                modal.find('.modal-body input').val(recipient)
            })

            $("#submit-form").click(function(){
                $('#input-username').removeClass("has-error");
                $('#input-pushername').removeClass("has-error");
                $('#label-username').hide();
                $('#label-pushername').hide();

                var username = $('#frm-username').val();
                var pushername = $('#frm-pushername').val();
                var valid = true

                if(!username){
                    $('#input-username').addClass("has-error");
                    $('#label-username').html("Masukkan username");
                    $('#label-username').show();
                    valid = false
                }     

                if(!pushername){
                    $('#input-pushername').addClass("has-error");
                    $('#label-pushername').html("Masukkan Pusher Nickname");
                    $('#label-pushername').show();
                    valid = false
                }     
            
                if(valid){
                    var data = {}
                    data['username'] = username
                    data['pushername'] = pushername

                    $.ajax({
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        success: function(data){
                            console.log(data);
                            if(data['status']){
                                $('#frm-username').val("");
                                $('#frm-pushername').val("");
                                refreshTabel();
                                swal("Succes", "1 Row Added", "success");
                            }else{
                                swal("Error", data['message'], "warning");
                            }

                        },
                        error: function(){
                            console.log("Device control failed");
                        },
                        type: 'POST',
                        url: 'http://localhost:8099/api/pusher'
                    });
                }

            });
            
            refreshTabel();
        });

        function refreshTabel(){
            $.ajax({ 
                type: 'GET', 
                url: 'http://localhost:8099/api/pusher', 
                dataType: 'json',
                success: function (data) { 
                    var x = "";
                    var totalRuby = 0;
                    var button = ""
                    var id = ""                        
                    $('#tabel-tuyul').DataTable().destroy();
                    $("#bodyTable").append("Inserting Data");
                    $.each(data, function(index, element) {
                        x += '<tr>';
                        x += '<td>'+ element.nick_pusher +'</td>';
                        x += '<td>'+ element.username +'</td>';
                        x += '<td>'+ element.nickname +'</td>';
                        x += '<td>'+ element.password +'</td>';
                        x += '<td>'+ element.title +'</td>';
                        x += '<td>'+ element.ruby +'</td>';
                        x += '<td><button type="button" class="btn btn-danger" onclick="deletePusher('+element.id_pusher+')">Delete</button></td>';
                        x += '</tr>';
                        totalRuby += element.ruby;
                    });
                    $("#bodyTable").html(x);
                    $('#tabel-tuyul').DataTable().draw();

                    $('.span-total-tuyul').html(data.length);
                    $('.span-total-ruby').html(totalRuby);
                    $('.span-total-campscore').html(parseInt(totalRuby/6));
                }
            });

            $.ajax({ 
                type: 'GET', 
                url: 'http://localhost:8099/api/sisatuyul', 
                dataType: 'json',
                success: function (data) { 
                    var x = "";
                    $('#tabel-pusher').DataTable().destroy();
                    $("#body-tabel-tuyultersedia").append("Inserting Data");
                    $.each(data, function(index, element) {
                        x += '<tr>';
                        x += '<td>'+ element.username +'</td>';
                        x += '<td>'+ element.nickname +'</td>';
                        x += '<td>'+ element.password +'</td>';
                        x += '<td>'+ element.title +'</td>';
                        x += '<td>'+ element.ruby +'</td>';
                        x += '<td><button type="button" class="btn btn-info" onclick="useTuyul(\''+element.username+'\')">Use This Tuyul</button></td>';
                        x += '</tr>';
                    });
                    $("#body-tabel-tuyultersedia").html(x);
                    $('#tabel-pusher').DataTable().draw();
                }
            });
        }
        
        function deletePusher(id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this data!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        dataType: 'json',
                        success: function(data){
                            swal("Poof! Your data has been deleted!", {
                                icon: "success",
                            });
                            refreshTabel();
                        },
                        error: function(){
                            console.log("Device control failed");
                        },
                        type: 'GET',
                        url: 'http://localhost:8099/api/pusher/delete/'+id
                    });
                } else {
                    swal("Your data file is safe!");
                }
            });

        }

        function useTuyul(username){
            $("#frm-username").val(username)
            window.scrollTo({
                top: $('#card_add_pusher').offset().top - 100,
                behavior: "smooth"
            })
        }
    </script>
{% endblock %}
